:root{
  --bg-colour: ;

}


.width-sm {
  max-width: 20rem;
}

.width-lg {
  max-width: 60rem;
}

.stack-sm > * + * {
  margin-top: 0.5rem;
}

.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Primitives */

.center {
  margin-left: auto;
  margin-right: auto;
}

main{
  max-width: 90vw;
}

ul{
  display: grid;
  grid-template-columns: repeat(1,minmax(0,1fr));
  font-size: 1rem;
}
li{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  column-gap: 1rem;


}
ul li img{
  border-radius: 50%;
  width: 50%;
}
@media (min-width: 640px){
  ul{
    grid-template-columns: repeat(2,minmax(0,1fr))!important;
}
}
@media (min-width: 1024px){
  ul {
    grid-template-columns: repeat(3,minmax(0,1fr))!important;
}
}




